*.dat
*.class

# Package Files
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Storage plugin config
utils/dfs.json.SAVED*
utils/dfs.json

# Log files
log/

# IDE and stuff (borrowed from Drill .gitignore file)
.project
.buildpath
.classpath
.checkstyle
.settings/
.idea/
TAGS
*.log
*.lck
*.iml
*.DS_Store
*.patch
*~
